<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://plausible.io/js/pa-NpCt_kxVLvuUE74Ow-Oun.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>
  
</head>
<body>

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

</body>
</html>
